@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover{
    background-color: #BEF264 !important;
}

*{
    min-width: 0;
}

input{
    color-scheme: dark;
}